/*#region Bootstrap Resets */

.list-group-item {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

/*#endregion */

/*#region Main Layout */

.container {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0;
    margin: 0 !important;
}

/*#endregion */

/*#region Header */

.app-header {
    background-color: #4590d1;
}

.header-block-button {
    background-color: #3473a8;
    color: #FFF;
    display: block;
    float: left;
    line-height: 50px;
    font-size: 15px;
    padding: 0 20px;
    border-right: inset 1px #3473a8;
    box-shadow: inset 0px 0px 1px #c2c2c2;
}

/*#endregion */

/*#region Side Nav */

.side-nav {
    background-color: #262d40;
}

.side-nav ul {
    list-style: none;
    padding: 0;
}

.side-nav li {
    border-top: solid 1px #344F64;
    border-bottom: solid 1px #0A0A0A;
}

.side-nav li.last {
    border-bottom: none;
}

.side-nav ul li a {
    color: #B8B8B8;
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 14px;
          
}

.side-nav ul li.active a, .side-nav ul li a:hover {  
    margin: auto;    
    border-bottom-left-radius: inherit;    
    border-right: none;  
    color: #FFF;
    text-decoration: none;
}

.side-nav ul li.active a i, .side-nav ul li a:hover i {
    text-shadow: 1px 1px #428BCA;
}

/*#endregion */

/*#region Main Panel */

.main-panel {
    background-color: #C7C7C7;
    z-index: 1 !important;

    border-right: solid 3px #162F59;
}

.main-panel .content {
    background-color: #C7C7C7;
}

.main-panel .header {
    padding: 6px 5px;
}

.list-group-item.header, .list-group-item.header:hover {
    background-color: #e7ebf4;
    font-family: Helvetica;
    font-size: 12px;
    color: #777;
}

.list-group-item:hover {  
    background-color: #F7F7F7;
}

/*#endregion */

/*#region Fly-out panel */

.flyout-panel {
    border-right: solid 1px #c2c2c2;
}

.flyout-panel-content {
    padding-bottom: 30px;
}

.flyout-panel .panel-header {
    padding: 10px 15px;
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
    border-bottom: solid 1px #DDD;
}

/*#endregion */

/*#region Map */

.panel.property-info-window > .panel-heading {
    background: #4590d1;
    color: #FFF
}
.property-info-window {
    -webkit-box-shadow: 0 0 8px 1px rgb(51, 51, 51);
    -ms-box-shadow: 0 0 8px 1px rgb(51, 51, 51);
    box-shadow: 0 0 8px 1px rgb(51, 51, 51);
    box-shadow: 0 0 8px 1px rgba(51, 51, 51, 0.5);
}

/*#endregion */

/*#region Messages */

.message-title {
    font-size: 18px;
}
.message-timestamp {
    font-size: 10px;
    float: right;
    color: #777;
}

.message-details > * {
    padding: 10px 15px;
}

.message-header {
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
}
.message-from {
    border: 1px solid #DDD;
}

.list-group-item.message {  
    border-left: solid 3px #FFF
}
.list-group-item.message:hover {  
    border-left: solid 3px #4590D1
}

.message>a {
    text-decoration: none;
    color: #333;
}

/*#endregion */

/*#region Properties */

.property-link {
    display: block;
}

/*#endregion */