<ul class="list-group" data-ng-controller="PropertiesPanelCtrl">
    <li class="list-group-item header">My Properties
        <a ui-sref="properties.new" class="pull-right btn btn-xs btn-default">
            <i class="fa fa-plus"></i>Add Property
        </a>
        <div class="clearfix"></div>
    </li>
    <li data-ng-repeat="property in properties" class="list-group-item">
        <div class="row">
            <a ui-sref="properties" ng-click="showInfo({{property}})" class="property-link">
                <div class="col-xs-3">
                    <img ng-src="http://lorempixel.com/150/150/city/{{property.id}}" alt="" class="img-rounded img-responsive" />
                </div>
                <div class="col-xs-9">
                    <cite title="Address">{{property.address1}}
                    <br />
                        {{property.city}}, {{property.state}}
                    <br />
                        {{property.zipcode}}
                    </cite>
                </div>
            </a>
        </div>
    </li>
</ul>
