<ul>
    <li class="active">
        <a ui-sref="messages">
            <h2><i class="fa fa-comments"></i></h2>
            Messages
        </a>
    </li>
    <li>
        <a ui-sref="properties">
            <h2><i class="fa fa-home"></i></h2>
            Properties
        </a>
    </li>
    <li>
        <a ui-sref="tenants">
            <h2><i class="fa fa-user"></i></h2>
            Tenants
        </a>
    </li>
    <li>
        <a ui-sref="products.list">
            <h2><i class="fa fa-cog"></i></h2>
            Settings
        </a>
    </li>
    <li class="last"></li>
</ul>
