<ul class="list-group" data-ng-controller="TenantsPanelCtrl">
    <li class="list-group-item header">Tenants
        <a ui-sref="properties.new" class="pull-right btn btn-xs btn-default">
            <i class="fa fa-plus-circle"></i>
            Add Tenant
        </a>
        <div class="clearfix"></div>
    </li>
    <li class="list-group-item header">
        <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="filter..." ng-model="search.text">
        </div>
    </li>
    <li class="list-group-item" data-ng-repeat="tenant in tenants | filter:searchTenants">
        <div class="row">
            <div class="col-xs-3">
                <img ng-src="http://lorempixel.com/150/150/people/{{tenant.id}}" alt="" class="img-circle img-responsive" />
            </div>
            <div class="col-xs-7">
                <strong>{{tenant.name}}</strong>
                <br />
                <cite>
                    {{tenant.address}}
                    <br />
                    {{tenant.city}}, {{tenant.state}}
                    <br />
                    {{tenant.zipcode}}
                </cite>
            </div>
            <div class="col-xs-2">
                <ul class="actions">
                    <li>
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                    </li>
                    <li>
                        <a ng-href="#/tenants/{{tenant.id}}"><i class="fa fa-edit"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
