<ul class="list-group">
    <li class="list-group-item header">
        From (header)
    </li>
    <li class="list-group-item">
        <div class="message-title">
            John Smith
            <span class="message-timestamp">
                Jan 1, 2042 8:00 AM
            </span>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ...
        </p>
    </li>
    <li class="list-group-item">
        <div class="message-title">
            John Smith
            <span class="message-timestamp">
                Jan 1, 2042 8:00 AM
            </span>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ...
        </p>
    </li>
    <li class="list-group-item">
        <div class="message-title">
            John Smith
            <span class="message-timestamp">
                Jan 1, 2042 8:00 AM
            </span>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ...
        </p>
    </li>
    <li class="list-group-item">
        <div class="message-title">
            John Smith
            <span class="message-timestamp">
                Jan 1, 2042 8:00 AM
            </span>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ...
        </p>
    </li>
</ul>
<div class="row">
    <div class="col-sm-12">
        <a href="#" class="btn btn-primary btn-block" id="show_fly_out" ng-click="showFlyout()">Show fly out</a>        
    </div>
</div>
