@section HeaderScripts {
    <script src="http://maps.google.com/maps/api/js?sensor=true&libraries=places"></script>
}

<div class="side-nav">
    <div class="side-nav-content">
        <div ng-include="'/App/navigation/menu.html'"></div>
    </div>
</div>
<div class="main-wrapper">
    <div class="app-header">
        <a class="header-block-button">My Awesome Logo Here (@@JustinObney)</a>
    </div>
    <div class="main-panel">
        <div class="content">
            <div ui-view="panel"></div>
        </div>
    </div>
    <div class="main-content">
        <div class="flyout-panel">
            <div class="flyout-panel-content">
                <div ui-view="drawer">
                    Loading...
                </div>
            </div>
        </div>
        <div class="map-panel" id="map_canvas"></div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/Assets/ng-libs")
    @Html.Partial("ngAppConfig")
    @Scripts.Render("~/Assets/app")
    <script src="/bootstrapper.js"></script>
}